.box-header {
  margin: -1.25rem -1.25rem 1.25rem -1.25rem;
  padding: 1.25rem 2.5rem;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

h5 {
  margin-bottom: 0.25rem;
  font-weight: 700;
}

.comment {
  margin-bottom: 0.25rem;
}
